<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkzkdh451.mapper.UsersMapper">

	<resultMap type="com.zkzkdh451.domain.UsersVO" id="usersMap">
		<id property="userid" column="userid"/>
		<result property="userid" column="userid"/>
		<result property="userpw" column="userpw"/>
		<result property="userName" column="username"/>
		<result property="nickname" column="nickname"/>
		<result property="userEmail" column="useremail"/>
		<result property="regDate" column="regdate"/>
		<result property="updateDate" column="updatedate"/>
		<collection property="authList" resultMap="authMap"/>
	</resultMap>
	
	<resultMap type="com.zkzkdh451.domain.AuthVO" id="authMap">
		<result property="userid" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>

	
	<select id="getList" resultMap="usersMap">
	
		SELECT u.userid, userpw, username, nickname, useremail, regdate, updatedate, enabled, auth
		FROM lark_users u left join lark_users_auth ua
		on (u.userid = ua.userid)
		ORDER BY u.userid DESC 
		LIMIT #{start}, #{amount}
	</select>
	
	<select id="getCanList" resultType="com.zkzkdh451.domain.CanUsersVO">
	
		SELECT *
		FROM lark_users_can
		<![CDATA[
			WHERE cno > 0 
		]]>
		ORDER BY cno DESC 
		LIMIT #{start}, #{amount}
	</select>
	
	<select id="getTotalCount" resultType="int">
	
		SELECT count(*)
		FROM lark_users
	</select>
	
	<select id="getCanTotalCount" resultType="int">
	
		SELECT count(*)
		FROM lark_users_can
	</select>
	
	<select id="read" resultMap="usersMap">
		SELECT u.userid, userpw, username, nickname, useremail, regdate, updatedate, enabled, auth
		FROM lark_users u left join lark_users_auth ua
		on (u.userid = ua.userid)
		where u.userid = #{userid}
	</select>
	
	<insert id="register">
		INSERT INTO lark_users (userid, userpw, username, nickname, useremail)
		VALUES (#{userid}, #{userpw}, #{userName}, #{nickname}, #{userEmail})
	</insert>
	
	<select id="idChk" resultType="int">
		SELECT count(*) cnt FROM lark_users
		WHERE userid = #{userid}
	</select>
	
	<select id="nickChk" resultType="int">
		SELECT count(*) cnt FROM lark_users
		WHERE nickname = #{nickname}
	</select>
	
	<insert id="insertAuth">
		INSERT INTO lark_users_auth (userid, auth)
		VALUES (#{userid}, #{auth})
	</insert>
	
	<update id="authUpdate">
		UPDATE lark_users_auth SET auth=#{auth}
		WHERE userid = #{userid}		
	</update>
	
	<update id="update">
		UPDATE lark_users SET nickname=#{nickname}, useremail=#{userEmail}, updatedate = now()
		WHERE userid = #{userid}		
	</update>
	
	<update id="updatePw">
		UPDATE lark_users SET userpw=#{userpw}, updatedate = now()
		WHERE userid = #{userid}		
	</update>
	
	<delete id="deleteAuth">
		DELETE FROM lark_users_auth WHERE userid = #{userid}
	</delete>
	
	<delete id="delete">
		DELETE FROM lark_users WHERE userid = #{userid}
	</delete>
	
	<insert id="canUser">
		INSERT INTO lark_users_can (userid, username, useremail)
		VALUES (#{userid}, #{userName}, #{userEmail})
	</insert>
	
</mapper>